<div class="container top-container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#EscogerPlaya" role="tab" aria-controls="home" aria-selected="true">Escoger Playa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="home-tab" data-toggle="tab" href="#SolicitarNuevaPlaya" role="tab" aria-controls="home" aria-selected="true">Solicitar una Nueva Playa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#DarAltaNuevoUsuario" role="tab" aria-controls="profile" aria-selected="false">Dar de Alta a un Nuevo Usuario</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <!--Escoger Playa-->
      <div class="tab-pane fade show active" id="EscogerPlaya" role="tabpanel" aria-labelledby="home-tab">
            <div class="card">
              <div class="card-body Margenes">

                  <div class="form-row">
                    <div class="col"></div>
                    <div class="col-auto"><h1>En Progreso.. .</h1></div>
                    <div class="col"></div>
                  </div>
              </div>
            </div>
      </div>
        <!--Solicitar una Nueva Playa-->
      <div class="tab-pane fade" id="SolicitarNuevaPlaya" role="tabpanel" aria-labelledby="home-tab">
            <div class="card">
              <div class="card-body Margenes">

                    <form [formGroup]="SolicitarNuevaPlaya" (ngSubmit)="C_SolicitarNuevaPlaya()" [ngClass]="{'is-invalid': !SolicitarNuevaPlaya.valid && SolicitarNuevaPlaya.touched }">
                        <div class="form-row">
                            <div class="col">
                              <input type="text" class="form-control" placeholder="Nombre de la Playa" formControlName="NombrePlaya">
                            </div>
                            <div class="col">
                              <input type="email" class="form-control"  placeholder="Correo Electronico" formControlName="CorreoElectronico" name="email" ngModel [email]="true">
                            </div>
                        </div>

                        <br>

                        <div class="form-row">
                            <div class="col">
                              <input type="text" class="form-control" placeholder="Latitud" formControlName="Latitud">
                            </div>
                            <div class="col">
                              <input type="text" class="form-control" placeholder="Longitud" formControlName="Longitud">
                            </div>
                            <div class="col">
                              <button type="submit" class="btn btn-primary btn-block">Mapa</button>
                            </div>
                        </div>

                        <br>

                        <div class="form-row">
                          <label for="exampleFormControlTextarea1">Comentarios:</label>
                          <textarea class="form-control"  rows="3" formControlName="Comentarios"></textarea>
                        </div>
                        <br>
                        <div class="form-row">

                          <div class="col"></div>
                          <div class="col-auto">
                          <button type="submit" class="btn btn-primary btn-lg" [disabled]="!SolicitarNuevaPlaya.valid">Enviar Solicitud</button></div>
                          <div class="col"></div>

                        </div>
                    </form>

              </div>
            </div>
      </div>
        <!--Dar de Alta a un nuevo Usuario-->
      <div class="tab-pane fade" id="DarAltaNuevoUsuario" role="tabpanel" aria-labelledby="profile-tab">
            <div class="card">
              <div class="card-body Margenes">

                <form [formGroup]="DarAltaNuevoUsuario" (ngSubmit)="C_DarAltaNuevoUsuario()" [ngClass]="{'is-invalid': !DarAltaNuevoUsuario.valid && DarAltaNuevoUsuario.touched }">
                    <div class="form-row">
                        <div class="col">
                          <input type="text" class="form-control" placeholder="Nombre de Usuario" formControlName="NombreUsuario">
                        </div>
                        <div class="col">
                          <input type="password" class="form-control"  placeholder="Password" formControlName="Password">
                        </div>
                        <div class="col">
                          <select  class="form-control" formControlName="RolUsuario">
                            <option selected disabled value="">Rol de Usuario</option>
                            <option *ngFor="let i of ValoresRol">{{ i }}</option>
                          </select>
                        </div>
                        <div class="col">
                          <select  class="form-control" formControlName="Sexo">
                            <option selected disabled value="">Sexo</option>
                            <option *ngFor="let i of Sexo">{{ i }}</option>
                          </select>
                        </div>
                    </div>
                    <br>

                    <div class="form-row">
                        <div class="col">
                          <input type="email" class="form-control"  placeholder="Correo Electronico" formControlName="CorreoElectronico" name="correo" ngModel [email]="true">
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" placeholder="Codigo" formControlName="Codigo">
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" placeholder="Inicio Contrato - Ej: 21/01/2018" formControlName="InicioContrato">
                        </div>
                    </div>

                    <br>

                    <div class="form-row">
                      <label for="exampleFormControlTextarea1">Formacion:</label>
                      <textarea class="form-control" rows="3" formControlName="Formacion"></textarea>
                    </div>

                    <br>

                    <div class="form-row">
                      <label for="exampleFormControlTextarea1">Experiencia:</label>
                      <textarea class="form-control" rows="3" formControlName="Experiencia"></textarea>
                    </div>

                    <br>

                    <div class="form-row">
                      <label for="exampleFormControlTextarea1">Comentarios:</label>
                      <textarea class="form-control" rows="3" formControlName="Comentarios"></textarea>
                    </div>

                    <br>

                    <div class="form-row">
                      <div class="col"></div>
                      <div class="col-auto"><button type="submit" class="btn btn-primary btn-lg" [disabled]="!DarAltaNuevoUsuario.valid">Registrar</button></div>
                      <div class="col"></div>
                    </div>

              </form>
              </div>
            </div>

      </div>


                  </div>



  </div>
