<div class="container top-container margenf">
    <!--Nombres de Fichas-->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Registrar Incidentes/Intervenciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Agregar Aviso Preventivos</a>
      </li>
    </ul>

      <div class="tab-content" id="myTabContent">


        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="card">

              <div class="card-body Margenes">
                <div [ngSwitch]="RegistrarIncedentes">
                    <div *ngSwitchCase="'0'">
                          <!--Registrar un Incidente: Paso#1-->
                      <form [formGroup]="RegistrarIncedentes1" (ngSubmit)="C_RegistrarIncedentes1()" [ngClass]="{'is-invalid': !RegistrarIncedentes1.valid && RegistrarIncedentes1.touched }">
                          <div class="form-row">
                              <div class="col-4"></div>
                              <div class="col"><input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introducir Nombre de Suceso" formControlName="NombreSuceso"></div>
                              <div class="col-4"></div>
                          </div>
                          <br>
                          <div class="form-row">
                              <div class="col"></div>
                              <div class="col-auto"><button class="btn btn-primary btn-block" type="submit" [disabled]="!RegistrarIncedentes1.valid">Siguiente</button></div>
                              <div class="col"></div>
                          </div>
                      </form>
                    </div>
                          <!--Registrar un Incidente: Paso#2-->
                    <div *ngSwitchCase="'1'">
                      <form [formGroup]="RegistrarIncedentes2" (ngSubmit)="C_RegistrarIncedentes2()" [ngClass]="{'is-invalid': !RegistrarIncedentes2.valid && RegistrarIncedentes2.touched }">
                        <div class="form-row">
                          <div class="col">
                                <select class="form-control" formControlName="Actividad">
                                  <option disabled selected value="">Seleccione Actividad</option>
                                  <option *ngFor="let i of ValoresActividad">{{ i }}</option>
                                </select>
                          </div>
                          <div class="col">
                                <select class="form-control" formControlName="Paises">
                                  <option selected value="">Selecciona un Pais</option>
                                  <option *ngFor="let i of Paises">{{i}}</option>
                                  </select>
                          </div>
                          <div class="col-2">
                                <select class="form-control" formControlName="Sexo">
                                    <option disabled selected value="">Sexo</option>
                                    <option *ngFor="let i of Sexo">{{i}}</option>

                                  </select>
                          </div>
                          <div class="col-2">
                                <select class="form-control" formControlName="Edad">
                                    <option disabled selected value="">Edad</option>
                                    <option *ngFor="let i of Edad">{{i}}</option>
                                  </select>
                          </div>
                        </div>
                        <br>
                        <div class="form-row EsquemaMapa"><h1>MAPA</h1></div>
                        <br>
                        <div class="form-row">
                            <div class="col"></div>
                            <div class="form-row">
                                <div class="col"><button type="button" class="btn btn-primary" (click)="anteriorRegistrarIncedentes()">Atras</button></div>
                                <div class="col"><button class="btn btn-primary btn-block" [disabled]="!RegistrarIncedentes2.valid">Guardar</button></div>
                            </div>
                            <div class="col"></div>
                        </div>

                      </form>
                    </div>
                </div>
                </div>
              </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="card">
            <div class="card-body Margenes">
              <div class="form-row">
                <div class="col"></div>
                <div class="col-auto">
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Acciones Preventivas (Actuaciones Activas)</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Acciones Preventivas (Actuaciones reactivas)</a>
                    </li>
            </ul></div>
            <div class="col"></div>
          </div>
              <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                      <!--[formGroup]="ActuacionesActivas" (ngSubmit)="C_ActuacionesActivas()"-->
                      <form class="form-row">
                          <div class="col-5"><div class="list-group" *ngFor="let x of ActuacionesActivas1">
                              <a href="#" class="list-group-item list-group-item-action">{{ x }}</a>
                          </div></div>

                          <div class="col"><div class="list-group" *ngFor="let x of ActuacionesActivas2">
                              <button href="#" class="list-group-item list-group-item-action" (click)="servicio(x)"> {{ x }}</button>
                          </div></div>
                      </form>

                      <!--<ng-container *ngFor="let x of ActuacionesActivas1">
                        <button type="button" class="btn btn-secondary btn-sm">{{ x }}</button>
                        <div style="line-height:50%;"><br></div>
                      </ng-container>

                      <ng-container *ngFor="let x of ActuacionesActivas2">
                        <button type="button" class="btn btn-secondary btn-sm">{{ x }}</button>
                        <div style="line-height:50%;"><br></div>
                      </ng-container>-->



                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                      <div class="form-row">

                          <div class="col"><div class="list-group" *ngFor="let x of ActuacionesReactivas1">
                              <a href="#" class="list-group-item list-group-item-action">{{ x }}</a>
                          </div></div>

                          <div class="col"><div class="list-group" *ngFor="let x of ActuacionesReactivas2">
                              <a type="sub" href="#" class="list-group-item list-group-item-action">{{ x }}</a>
                          </div></div>
                      </div>


                    </div>
              </div>

            </div>
          </div>
        </div>







    </div>
</div>
