
    <div class="container-fluid padding_elementos">
        <div class="row">
            <div class="card align-self-center">
                <div class="card-body">
                    <form [formGroup]="forma" (ngSubmit)="guardarCambios()">
                                  <div class="form-group">
                                    <label for="exampleInputEmail1">Correo Electrónico:</label>
                                    <input type="email" class="form-control" placeholder="E-mail"
                                    type="text"
                                    formControlName="Correo">

                                  </div>
                                  <hr>
                                  <div class="form-group">
                                    <input type="password" class="form-control"  placeholder="Nueva Contraseña" formControlName="Password">
                                    <br>
                                    <input type="password" class="form-control"  placeholder="Repite Contraseña"
                                    name="samePassword" formControlName="SamePassword">

                                  </div>

                                  <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                    </form>
                    <br>
                    {{forma.valid}}
                </div>
            </div>
        </div>
    </div>
