<body>
<!--Caja de Login-->
<div class="container-fluid padding_elementos">
  <div class="row">
  <!--<div class="col-5"></div>
  <div class="col">-->
    <div class="card align-self-center">
  <div class="card-body">
  <form (ngSubmit)="guardarDatos(forms)" #forms="ngForm">
              <div class="form-group">
                <label for="exampleInputEmail1">Correo Electrónico:</label>
                <input type="email" class="form-control" placeholder="E-mail" [ngClass]="{ 'is-invalid': (email.errors?.required) && email.touched }"
                type="text"
                name="email"
                [(ngModel)]="login.email"
                minlenght="5"
                required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                #email="ngModel"><!--La variable local hace referencia al form control-->

                <div *ngIf="email.errors?.required" class="invalid-feedback">
                  Este campo es requerido.
                </div>


              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Contraseña:</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [ngClass]="{ 'is-invalid': (password.errors?.required) && password.touched }"
                name="password"
                [(ngModel)]="login.password"
                pattern=".{5,}"
                required
                #password="ngModel"><!--La variable local hace referencia al form control-->

                <div *ngIf="password.errors?.required" class="invalid-feedback">
                  Este campo es requerido
                </div>

                <button type="button" class="btn btn-link" [routerLink]="['/resetPassword']">¿Haz olvidado tu contraseña?</button>
              </div>

              <button type="submit" class="btn btn-primary btn-block" [disabled]="!forms.valid">Entrar</button>
  </form>
  <br>



  </div>
</div>

</div>
<!--<div class="col"></div>-->
</div>
</body>
<!--<footer>
  <app-footer></app-footer>
</footer>-->
