<!--<div style="margin-top: 100px; margin-left: 100px;">
<agm-map (mapClick)="poligono( $event )" [latitude]="lat" [longitude]="lng" [zoom]="zoom">
  <agm-marker *ngFor="let marcador of marcadores" [latitude]="marcador.lat" [longitude]="marcador.lng"></agm-marker>

    <agm-polygon [paths]="paths" [fillColor]="color"></agm-polygon>
</agm-map>
</div>
<button (click)="ss($xx)">ss</button>-->

<div style="margin-top: 100px; margin-left: 100px;">
<agm-map (mapClick)="poligono( $event )" [latitude]="lats" [longitude]="lngs" [zoom]="zoom">
  <agm-marker *ngFor="let marcador of marcadores" [latitude]="marcador.lat" [longitude]="marcador.lng"></agm-marker>

    <div *ngIf="contador==12"><agm-polygon [paths]="numeros" [fillColor]="color"></agm-polygon></div>
</agm-map>
</div>
<button (click)="ss($xx)">ss</button>
