 <div class="container top-container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Modificar Playa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Dar de Alta un Riesgo</a>
          </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="tab-pane fade show active" id="EscogerPlaya" role="tabpanel" aria-labelledby="home-tab">
                        <div class="card">
                          <div class="card-body Margenes">
                            <label>En Playa: [Mostrar Nombre de Playa Seleccionada Previamente]</label><br><br>

<div [ngSwitch]="ModificarPlaya">
<div *ngSwitchCase="'0'">
                                <!--Modificar Playa: Paso #1-->
                            <form [formGroup]="ModificarPlaya1" (ngSubmit)="C_ModificarPlaya1()" [ngClass]="{'is-invalid': !ModificarPlaya1.valid && ModificarPlaya1.touched }">
                                <div class="form-row" >
                                    <div class="col"><input class="form-control" formControlName="Municipio" placeholder="Municipio" ></div>
                                    <div class="col"><input class="form-control" formControlName="Provincia" placeholder="Provincia"></div>
                                    <div class="col"><input class="form-control" formControlName="CCAA" placeholder="CC AA:"></div>
                                </div>
                                <br>
                                <div class="form-row">
                                    <div class="col-1"></div>
                                    <div class="col"><input class="form-control" formControlName="Longitud" placeholder="Longitud"></div>
                                    <div class="col"><input class="form-control" formControlName="Anchura" placeholder="Anchura"></div>
                                    <div class="col-1"></div>
                                </div>
                                <br>
                                <div class="form-row">
                                    <div class="col"></div>
                                    <div class="col-auto"><button type="submit" class="btn btn-primary" [disabled]="!ModificarPlaya1.valid">Siguiente</button></div>
                                    <div class="col"></div>
                                </div>
                            </form><br>
</div>

<div *ngSwitchCase="'1'">
                                <!--Modificar Playa: Paso #2-->
                            <form [formGroup]="ModificarPlaya2" (ngSubmit)="C_ModificarPlaya2()" [ngClass]="{'is-invalid': !ModificarPlaya2.valid && ModificarPlaya2.touched }">
                                <div class="form-row">
                                    <div class="col">
                                      <!--[(ngModel)]="Pendiente.pendiente" name="Pendiente" [ngModelOptions]="{standalone: true}"-->
                                        <select class="form-control" formControlName="Pendiente">
                                            <option disabled selected value="">Pendiente</option>
                                            <option *ngFor="let i of ValoresPendiente" [ngValue]="i">{{ i }}</option>
                                        </select>
                                    </div>

                                    <div class="col">
                                        <select class="form-control" formControlName="GradoOcupacion">
                                            <option disabled selected value="">Grado de Ocupación</option>
                                            <option *ngFor="let i of ValoresGradoOcupacion" [ngValue]="i">{{ i }}</option>

                                        </select>
                                    </div>

                                    <div class="col">
                                        <select class="form-control" formControlName="GradoUrbanizacion">
                                            <option disabled selected value="">Grado de Urbanización</option>
                                            <option *ngFor="let i of ValoresGradoUrbanizacion" [ngValue]="i">{{ i }}</option>
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="form-row">
                                  <div class="col">
                                      <textarea class="form-control" placeholder="Descripción de Playa" rows="3" formControlName="DescripcionPlaya"></textarea>
                                  </div>
                                  <div class="col-4">
                                    <div class="form-rows">
                                      <select class="form-control" formControlName="PaseoMaritimo">
                                          <option disabled selected value="">Paseo Maritimo</option>
                                          <option *ngFor="let i of SN" [ngValue]="i">{{ i }}</option>

                                      </select>
                                      <div class="col"></div><div class="col"></div><div class="col"></div><div class="col"></div><div class="col"></div><div class="col"></div>
                                      <select class="form-control" formControlName="FachadaLitoral">
                                          <option disabled selected value="">Fachada Litoral</option>
                                          <option *ngFor="let i of SN" [ngValue]="i">{{ i }}</option>

                                      </select>
                                    </div>
                                  </div>
                                </div>

                                <br>
                                <div class="form-row">
                                    <div class="col"></div>
                                    <div class="form-row">
                                        <div class="col"><button type="button" class="btn btn-primary" (click)="ModificarPlayaanterior()">Atras</button></div>
                                        <div class="col"><button type="submit" class="btn btn-primary" [disabled]="!ModificarPlaya2.valid">Siguiente</button></div>

                                    </div>
                                    <div class="col"></div>
                                </div>
                            </form><br>
</div>
<div *ngSwitchCase="'2'">


                                <!--Modificar Playa: Paso #3-->
                            <form [formGroup]="ModificarPlaya3" (ngSubmit)="C_ModificarPlaya3()" [ngClass]="{'is-invalid': !ModificarPlaya3.valid && ModificarPlaya3.touched }">
                                <div class="form-row">
                                  <div class="col">
                                      <select class="form-control" formControlName="Morfologia">
                                          <option disabled selected value="">Morfologia</option>
                                          <option *ngFor="let i of ValoresMorfologia" [ngValue]="i">{{ i }}</option>
                                      </select>
                                  </div>
                                    <div class="col">
                                        <select class="form-control" formControlName="Composicion">
                                            <option disabled selected value="">Composición</option>
                                            <option *ngFor="let i of ValoresComposicion" [ngValue]="i">{{ i }}</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <select class="form-control" formControlName="TipoArena">
                                            <option disabled selected value="">Tipo Arena</option>
                                            <option *ngFor="let i of ValoresTipoArena" [ngValue]="i">{{ i }}</option>
                                        </select>
                                    </div>

                                  </div>
                                  <br><br>
                                  <div class="form-row"><div class="col"></div><div class="col-auto"><h6>Condiciones de Baño</h6></div><div class="col"></div></div>
                                  <div class="jumbotron jumbotron-fluid">
                                    <div formGroupName="CaracteristicasPlaya">

                                  <div class="form-row" >
                                        <div class="col"></div>
                                        <div class="col-auto"><div class="form-check form-check-inline">
                                          <input class="form-check-input" type="checkbox" formControlName="ZonaFondeo">
                                          <label class="form-check-label"><b>Zona Fondeo</b></label>
                                        </div></div>

                                        <div class="col-auto"><div class="form-check form-check-inline">
                                          <input class="form-check-input" type="checkbox" formControlName="Nudismo">
                                          <label class="form-check-label"><b>Nudismo</b></label>
                                        </div></div>

                                        <div class="col"></div>
                                  </div>




                              </div>
                              <br><br>
                              <div class="form-row">
                                  <div class="col-1"></div>
                                  <div class="col">
                                      <select class="form-control" formControlName="TipoOleaje">
                                          <option disabled selected value="">Tipo de Oleaje</option>
                                          <option *ngFor="let i of ValoresTO_NV" [ngValue]="i">{{ i }}</option>
                                      </select>
                                  </div>
                                  <div class="col">
                                      <select class="form-control" formControlName="NivelViento">
                                          <option disabled selected value="">Nivel de Viento</option>
                                          <option *ngFor="let i of ValoresTO_NV" [ngValue]="i">{{ i }}</option>
                                      </select>
                                  </div>
                                  <div class="col-1"></div>
                              </div>

                            </div>
                            <br>
                            <div class="form-row">
                                <div class="col"></div>
                                <div class="form-row">
                                    <div class="col"><button type="button" class="btn btn-primary" (click)="ModificarPlayaanterior()">Atras</button></div>
                                    <div class="col"><button type="submit" class="btn btn-primary" [disabled]="!ModificarPlaya3.valid">Siguiente</button></div>
                                </div>
                                <div class="col"></div>
                            </div>




                            </form><br>

</div>

<div *ngSwitchCase="'3'">

                                <!--Modificar Playa: Paso #4-->
                            <form [formGroup]="ModificarPlaya4" (ngSubmit)="C_ModificarPlaya4()" [ngClass]="{'is-invalid': !ModificarPlaya4.valid && ModificarPlaya4.touched }">
                              <div class="form-row"><div class="col"></div><div class="col-auto"><h4>Accesos</h4></div><div class="col"></div></div>
                                <div class="jumbotron jumbotron-fluid">
                                    <div class="form-row">
                                          <div class="col"></div>
                                          <div class="col-auto"><div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label"><b>Coche</b></label>
                                          </div></div>

                                          <div class="col-auto"><div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label"><b>Vehiculos de Emergencia</b></label>
                                          </div></div>

                                          <div class="col-auto"><div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label"><b>Acceso Helicopteros</b></label>
                                          </div></div>
                                          <div class="col"></div>
                                    </div>
                                    <br>
                                    <div class="form-row">
                                          <div class="col"></div>
                                          <div class="col-auto"><div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label"><b>Señalización de Accesos</b></label>
                                          </div></div>
                                          <div class="col"></div>
                                    </div>
                              </div>
                              <br>
                              <div class="form-row"><div class="col"></div><div class="col-auto"><h4>Seguridad</h4></div><div class="col"></div></div>
                              <div class="jumbotron jumbotron-fluid">
                                <div class="form-row">
                                      <div class="col"></div>
                                      <div class="col-auto"><div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox">
                                        <label class="form-check-label"><b>Auxilio y Salvamento</b></label>
                                      </div></div>
                                      <div class="col-auto"><div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox">
                                        <label class="form-check-label"><b>Accesibilidad de Vehículos de Emergencias</b></label>
                                      </div></div>
                                      <div class="col-auto"><div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox">
                                        <label class="form-check-label"><b>Accesibilidad de Embarcaciones de Rescate</b></label>
                                      </div></div>
                                      <div class="col"></div>
                                </div>
                                <br>
                                <div class="form-row">
                                      <div class="col"></div>
                                      <div class="col-auto"><div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox">
                                        <label class="form-check-label"><b>Señalizacion de Peligro</b></label>
                                      </div></div>
                                      <div class="col-auto"><div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox">
                                        <label class="form-check-label"><b>Accesibilidad para Helipuerto Provisional</b></label>
                                      </div></div>
                                      <div class="col-auto"><div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox">
                                        <label class="form-check-label"><b>Base de Operaciones</b></label>
                                      </div></div>
                                      <div class="col"></div>
                                </div>
                                <br>
                                <div class="form-row">
                                      <div class="col"></div>
                                      <div class="col-auto"><div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox">
                                        <label class="form-check-label"><b>Banderas</b></label>
                                      </div></div>
                                      <div class="col-auto"><div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox">
                                        <label class="form-check-label"><b>Carteles Informativos</b></label>
                                      </div></div>
                                      <div class="col-auto"><div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox">
                                        <label class="form-check-label"><b>Megafonía</b></label>
                                      </div></div>
                                      <div class="col"></div>
                                </div>
                                <br>
                                <div class="form-row">
                                      <div class="col"></div>
                                      <div class="col-auto"><div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox">
                                        <label class="form-check-label"><b>Balizamiento Terrestre</b></label>
                                      </div></div>
                                      <div class="col-auto"><div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox">
                                        <label class="form-check-label"><b>Balizamiento Acuático</b></label>
                                      </div></div>
                                      <div class="col"></div>
                                </div>


                              </div>

                              <div class="form-row">
                                  <div class="col"></div>
                                  <div class="form-row">
                                      <div class="col"><button type="button" class="btn btn-primary" (click)="ModificarPlayaanterior()">Atras</button></div>
                                      <div class="col"><button type="submit" class="btn btn-primary">Siguiente</button></div>
                                  </div>
                                  <div class="col"></div>
                              </div>

                            </form>
</div>


                                <!--Modificar Playa: Paso #5-->
                            <!--<form [formGroup]="ModificarPlaya5" (ngSubmit)="C_ModificarPlaya5()" [ngClass]="{'is-invalid': !ModificarPlaya5.valid && ModificarPlaya5.touched }">

                                  <div class="row">
                                    <div class="col">
                                        <select class="form-control" formControlName="AuxilioSalvamento">
                                            <option disabled selected value="">Auxilio y Salvamento</option>
                                            <option *ngFor="let i of SN" [ngValue]="i">{{ i }}</option>
                                        </select>
                                    </div>

                                    <div class="col">
                                        <select class="form-control" formControlName="PeriodoAxulio">
                                            <option disabled selected value="">Período Auxulio</option>
                                            <option *ngFor="let i of ValoresPeriodoAuxlio" [ngValue]="i">{{ i }}</option>
                                        </select>
                                    </div>
                                    <div class="col"><input class="form-control" type="text" placeholder="Hora Inicio: 09:00" formControlName="HoraInicio"></div>
                                    <div class="col"><input class="form-control" type="text" placeholder="Hora Final: 18:00" formControlName="HoraFinal"></div>
                                  </div>
                                  <br>
                                    <div class="jumbotron jumbotron-fluid">
                                        <div class="form-row">
                                              <div class="col-1"></div>

                                              <div class="col"><div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" value="0">
                                                <label class="form-check-label"><b>Señalización de Peligro</b></label>
                                              </div></div>
                                              <div class="col"><div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" value="0">
                                                <label class="form-check-label"><b>Base de Socorrismo</b></label>
                                              </div></div>
                                              <div class="col"><div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" value="0">
                                                <label class="form-check-label"><b>Base de Operaciones</b></label>
                                              </div></div>
                                              <div class="col-1"></div>
                                        </div>
                                        <div class="form-row">
                                              <div class="col-1"></div>
                                              <div class="col"><div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" value="0">
                                                <label class="form-check-label"><b>Puesto de Vigilancia</b></label>
                                              </div></div>
                                              <div class="col"><div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" value="0">
                                                <label class="form-check-label"><b>Banderas</b></label>
                                              </div></div>
                                              <div class="col"><div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" value="0">
                                                <label class="form-check-label"><b>Carteles Informativos</b></label>
                                              </div></div>
                                              <div class="col-1"></div>
                                        </div>
                                        <div class="form-row">
                                              <div class="col-1"></div>
                                              <div class="col"><div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" value="0">
                                                <label class="form-check-label"><b>Megafonía</b></label>
                                              </div></div>
                                              <div class="col"><div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" value="0">
                                                <label class="form-check-label"><b>Balizamiento Terrestre</b></label>
                                              </div></div>
                                              <div class="col"><div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" value="0">
                                                <label class="form-check-label"><b>Balizamiento Acuático</b></label>
                                              </div></div>
                                              <div class="col-1"></div>
                                        </div>
                                  </div>

                                  <div class="form-row">
                                      <div class="col"></div>
                                      <div class="form-row">
                                          <div class="col"><button type="button" class="btn btn-primary">Atras</button></div>
                                          <div class="col"><button type="submit" class="btn btn-primary" [disabled]="!ModificarPlaya5.valid">Siguiente</button></div>
                                      </div>
                                      <div class="col"></div>
                                  </div>

                            </form>--><br>


<div *ngSwitchCase="'4'">
                                <!--Modificar Playa: Paso #6-->
                            <form [formGroup]="ModificarPlaya6" (ngSubmit)="C_ModificarPlaya6()" [ngClass]="{'is-invalid': !ModificarPlaya6.valid && ModificarPlaya6.touched }">
                              <div class="form-row">
                                  <div class="col"><input class="form-control" type="text" placeholder="Carretera más Proxima" formControlName="CarreteraProxima"></div>
                              </div>
                              <br>
                              <div class="form-row">
                                <div class="col">
                                    <select class="form-control" formControlName="Aparcamiento">
                                        <option disabled selected value="">Tipo de Aparcamiento</option>
                                        <option *ngFor="let i of ValoresAparcamientoModo" [ngValue]="i">{{ i }}</option>
                                    </select>
                                </div>
                              </div>
                              <br>
                              <div class="form-row">
                                <div class="col">
                                    <select class="form-control" formControlName="AutoBus">
                                        <option disabled selected value="">Autobus</option>
                                        <option *ngFor="let i of SN" [ngValue]="i">{{ i }}</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <textarea class="form-control" placeholder="Observaciones" rows="2" formControlName="Observaciones"></textarea>
                                </div>
                              </div>
                              <br>
                              <div class="form-row">
                                  <div class="col"></div>
                                  <div class="form-row">
                                      <div class="col"><button type="button" class="btn btn-primary" (click)="ModificarPlayaanterior()">Atras</button></div>
                                      <div class="col"><button type="submit" class="btn btn-primary" [disabled]="!ModificarPlaya6.valid">Siguiente</button></div>
                                  </div>
                                  <div class="col"></div>
                              </div>
                            </form><br>
</div>

<div *ngSwitchCase="'5'">
                                <!--Modificar Playa: Paso #7-->
                            <form [formGroup]="ModificarPlaya7" (ngSubmit)="C_ModificarPlaya7()" [ngClass]="{'is-invalid': !ModificarPlaya7.valid && ModificarPlaya7.touched }">
                                <div class="form-row"><div class="col"></div><div class="col-auto"><h4>Aspectos físicos y ambientales</h4></div><div class="col"></div></div>
                                <br>
                                <div formGroupName="AspectosFisicosAmbientales" class="jumbotron jumbotron-fluid">
                                  <div class="form-row">
                                        <div class="col"></div>
                                        <div class="col-auto"><div class="form-check form-check-inline">
                                          <input class="form-check-input" type="checkbox" formControlName="Vegetacion">
                                          <label class="form-check-label"><b>Vegetación</b></label>
                                        </div></div>
                                        <div class="col-auto"><div class="form-check form-check-inline">
                                          <input class="form-check-input" type="checkbox" formControlName="EspacioProtegido">
                                          <label class="form-check-label"><b>Espacio Protegeido</b></label>
                                        </div></div>
                                        <div class="col-auto"><div class="form-check form-check-inline">
                                          <input class="form-check-input" type="checkbox" formControlName="Actuaciones">
                                          <label class="form-check-label"><b>Actuaciones</b></label>
                                        </div></div>
                                        <div class="col"></div>
                                  </div>
                                  <div class="form-row">
                                    <div class="col"></div>

                                      <div class="col-auto"><div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" formControlName="BanderaAzul">
                                        <label class="form-check-label"><b>Bandera Azul</b></label>
                                      </div></div>
                                      <div class="col"></div>
                                  </div>
                                </div>
                                  <div class="form-row"><div class="col"></div><div class="col-auto"><h4>Hospital más Cercano</h4></div><div class="col"></div></div>
                                  <br>
                                <div class="form-row">
                                    <div class="col"><input class="form-control" type="text" placeholder="Nombre de Hospital" formControlName="NombreHospital"></div>
                                    <div class="col"><input class="form-control" type="text" placeholder="Longitud" formControlName="Longitud"></div>
                                    <div class="col"><input class="form-control" type="text" placeholder="Latitud" formControlName="Latitud"></div>
                                </div>
                                <br>
                                <div class="form-row">
                                    <div class="col"></div>
                                    <div class="form-row">
                                        <div class="col"><button type="button" class="btn btn-primary" (click)="ModificarPlayaanterior()">Atras</button></div>
                                        <div class="col"><button type="submit" class="btn btn-primary" [disabled]="!ModificarPlaya7.valid">Siguiente</button></div>
                                    </div>
                                    <div class="col"></div>
                                </div>

                            </form><br>
</div>

<div *ngSwitchCase="'6'">
                                <!--Modificar Playa: Paso #8-->
                            <form [formGroup]="ModificarPlaya8" (ngSubmit)="C_ModificarPlaya8()" [ngClass]="{'is-invalid': !ModificarPlaya8.valid && ModificarPlaya8.touched }">
                              <div class="form-row">
                                  <div class="col"><input class="form-control" type="text" placeholder="Puerto Deportivo" formControlName="PuertoDeportivo"> </div>
                                  <div class="col"><input class="form-control" type="text" placeholder="Distancia Puerto de Playa" formControlName="DistanciaPuertoPlaya"></div>
                              </div>
                              <br>
                              <div class="form-row"><div class="col"></div><div class="col-auto"><label>Observaciones Generales</label></div><div class="col"></div></div>
                              <div class="form-row"><textarea class="form-control" rows="3" formControlName="ObervacionesGenerales"></textarea></div>
                              <br>
                              <div class="form-row">
                                  <div class="col"></div>
                                  <div class="form-row">
                                      <div class="col"><button type="button" class="btn btn-primary" (click)="ModificarPlayaanterior()">Atras</button></div>
                                      <div class="col"><button class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal" [disabled]="!ModificarPlaya8.valid">Guardar</button></div>
                                  </div>
                                  <div class="col"></div>
                              </div>
                            </form>
</div>
</div>


                            <script>
                              $('#myModal').on('shown.bs.modal', function () {
                              $('#myInput').trigger('focus')})
                            </script>

                              <!--MODAL-->
                          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Guardar Cambios</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                            Estas apunto de modificar una Playa
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                            <button type="submit" class="btn btn-primary" data-dismiss="modal">Guardar</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                          </div>
                        </div>
                </div>
            </div>










          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="card">
              <div class="card-body Margenes">
                  <div [ngSwitch]="DarAltaRiesgo">
                  <!--Paso#1-->
                <form [formGroup]="Paso2" (ngSubmit)="guardarCambios()">
                  <div *ngSwitchCase="'0'">
                        <label>En Playa: [Mostrar Nombre de Playa Seleccionada Previamente]</label><br><br>
                        <div class="EsquemaMapa"></div>
                        <br>
                        <div class="form-row">
                          <div class="col-4"></div>
                          <div class="col"><input class="form-control" type="text" placeholder="Nombre del Riesgo para Identificarlo" formControlName="nombreRiesgo"></div>
                          <div class="col-4"></div>
                        </div>
                        <br>
                        <div class="form-row">
                            <div class="col"></div>

                            <div class="col-auto"><button type="Submit" class="btn btn-primary" [disabled]="!Paso2.valid">Siguiente</button></div>
                            <div class="col"></div>
                        </div>
                    </div>
                </form>
                  <!--Paso#2-->
                <form>
                  <div *ngSwitchCase="'1'">
                  <div class="form-row">
                    <div class="col">
                        <!--<select class="form-control">
                          <option disabled selected>Riesgo</option>
                        </select>-->
                        <select [(ngModel)]="Riesgo.riesgo" name="probabilidad" class="form-control">
                          <option value="" disabled>Riesgo</option>
                          <option *ngFor="let x of Riesgos" [value]="x" >
                            {{x}}
                          </option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-control">
                          <option disabled selected>Tipología</option>
                        </select>
                    </div>
                  </div>
                    <!--En caso de Riesgo-->
                  <br>
                  <div class="jumbotron jumbotron-fluid">
                  <div class="form-row">
                    <div class="col"></div>
                    <div class="col-auto">

                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck1" name="Situacion" [(ngModel)]="Situacion.Existe">
                          <label class="custom-control-label" for="customCheck1">Agregar Situación</label>
                        </div>

                    </div>
                    <div class="col"></div>
                  </div>
                  <br>
                  <div *ngIf="Situacion.Existe">
                                <!--Viento-->
                                <div class="form-row">
                                <div class="col"></div>
                                      <div class="col-auto">

                                      <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="Viento" [(ngModel)]="Situacion.Viento">
                                        <label class="form-check-label" for="exampleCheck1">Viento</label>
                                      </div>
                                    </div>
                                <div class="col"></div>
                              </div>
                              <br>
                                <div class="form-row MargenesJump" *ngIf="Situacion.Viento">

                                    <div class="col">
                                        <select class="form-control" [(ngModel)]="Nudos.nudo" name="Nudos">
                                          <option disabled selected value="">Nudos</option>
                                          <option *ngFor="let i of ValoresNudos" [value]="i">{{ i }}</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <select class="form-control" [(ngModel)]="Direccion.direccion" name="DireccionViento">
                                          <option disabled selected value="">Dirección</option>
                                          <option *ngFor="let i of ValoresDireccion" [value]="i">{{ i }}</option>
                                        </select>
                                    </div>

                                  </div>
                                  <br>
                                  <!--Oleaje-->
                                <div class="form-row"><div class="col"></div>
                                              <div class="col-auto">
                                              <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck1" name="Oleaje" [(ngModel)]="Situacion.Oleaje">
                                                <label class="form-check-label" for="exampleCheck1">Oleaje</label>
                                              </div>
                                            </div>
                                <div class="col"></div></div>
                                <br>
                                <div class="form-row MargenesJump" *ngIf="Situacion.Oleaje">

                                              <div class="col">
                                                  <select class="form-control"  [(ngModel)]="TipoOleaje.tipo" name="Tipo">
                                                    <option disabled selected value="">Tipo</option>
                                                    <option *ngFor="let i of ValoresTipoOleaje" [value]="i">{{ i }}</option>

                                                  </select>
                                              </div>
                                              <div class="col">
                                                <select class="form-control" [(ngModel)]="Direccion.direccion" name="DireccionOleaje">
                                                  <option disabled selected value="">Dirección</option>
                                                  <option *ngFor="let i of ValoresDireccion" [value]="i">{{ i }}</option>
                                                </select>
                                              </div>

                                            </div>
                                            <br>
                                    <!--Marea-->
                                <div class="form-row">
                                    <div class="col"></div>
                                          <div class="col-auto">
                                          <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1" name="Marea" [(ngModel)]="Situacion.Marea">
                                            <label class="form-check-label" for="exampleCheck1">Marea</label>
                                          </div>
                                        </div>
                                    <div class="col"></div>
                                  </div>
                                <br>
                                <div class="form-row MargenesJump" *ngIf="Situacion.Marea">
                                              <div class="col">
                                                  <select class="form-control">
                                                    <option disabled selected>Altura</option>
                                                  </select>
                                              </div>
                                              <div class="col">
                                                  <select class="form-control">
                                                    <option disabled selected>Coeficiente</option>
                                                  </select>
                                              </div>
                                              <div class="col">
                                                  <select class="form-control">
                                                    <option disabled selected>Momento</option>
                                                  </select>
                                              </div>
                                            </div>
                              <br>
                              <hr>
                              <br>
                              <div class="form-row MargenesJumpIn">

                                <div class="col">
                                    <select [(ngModel)]="condiciones.probabilidad" name="probabilidad" class="form-control">
                                      <option value="" disabled>Probabilidad</option>
                                      <option *ngFor="let x of variablesRiesgo" [value]="x.var" >
                                        {{x.var}}
                                      </option>
                                    </select>
                                </div>
                                <div class="col">
                                  <select [(ngModel)]="condiciones.severidad" name="severidad" class="form-control">
                                    <option value="" disabled>Severidad</option>
                                    <option *ngFor="let x of variablesRiesgo" [value]="x.var">
                                      {{x.var}}
                                    </option>
                                  </select>
                                </div>

                                <div class="col">
                                    <input class="form-control" type="text" placeholder="[Resultado]" disabled>
                                </div>
                              </div>
                              <br>
                              <div class="form-row">
                                    <div class="col"></div>
                                    <div class="col-auto"><button type="submit" class="btn btn-primary">Guardar Situación</button></div>
                                    <div class="col"></div>
                              </div>
                  </div></div>
                  <br>
                  <div class="form-row">
                      <div class="col"></div>
                      <div class="col-auto"><button type="button" class="btn btn-primary" (click)="anterior()">Atras</button></div>
                      <div class="col-auto"><button type="button" class="btn btn-primary">Guardar Riesgo</button></div>
                      <div class="col"></div>
                  </div>
                </div>
                </form>
                </div>
              </div>
            </div>


          </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
    </div>

</div>
